- if @items
  .items
    - @items.each do |item|
      .item
        = item.name
        = item.price
        = item.user.name
        .tags
          - item.tags.each do |tag|
            .tag= tag.name
- else
  Not found any items for
  = @tags_array.join(', ')
