%h1 Listing items

%table
  %tr
    %th Name
    %th Price
    %th Period
    %th Description
    %th
    %th
    %th

  - @items.each do |item|
    %tr
      %td= link_to item.name, item
      %td= item.price
      %td= item.period
      %td= item.description

%br

= link_to 'New Item', new_item_path
